body {
  background-color: white;
  margin: 0;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
}

#main-container {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100vw;
}

#ejp {
  width: 10em;
  border-radius: 50%;
  border-style: solid;
  border-width: 2.5px;
} 
