body {
  background-color: white;
  margin: 0;
}

.text {
  font-family: "Raleway", sans-serif;
}

#welcome {
  font-size: 4.5em;
}

#info {
  font-size: 1em;
}

#main-container {
  display: flex;
  height: 100%;
  width: 100%;
}

#side-bar {
  width: 14%;
  margin: 10% 3em 10%;
}

#content {
  flex: 1 1 auto;
  overflow: auto;
}

#ejp {
  width: 10em;
  border-radius: 50%;
  border-style: solid;
  border-width: 2.5px;
  margin-bottom: 1em;
} 

.icon {
  max-width: 2.3em;
  margin: .5em .5em 1em;
}

#icon-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width:600px) {
  #main-container {
    flex-wrap: wrap;
  }

  #side-bar {
    width: 100%;
    height: initial;
  }

  #ejp {
    margin: auto;
    width: 100%;
  }

  .icon {
    width: auto;
  }
}
