.chart {
        width: 257px;
        height: 176px; 
        border: 1px solid #dddddd;
        background-color: white;
}

.row {
        height: 14px;
        display: flex;
        margin-left:2px;
        margin-right: 2px;
        margin-bottom: 2px;
        font-size: 55%;
        font-family: sans-serif;
        letter-spacing: .15px;
        overflow: hidden;
}

.song {
        overflow: hidden !important;
        width: 190px;
        color: #1f67b7;
        padding-top: 3px;
        padding-left: 3px;
        padding-bottom: 4px;
        padding-right: 4px;
        line-height: 130%;
}

.date {
        width: 61px;
        margin-left: 2px;
        color: #444444;
        padding-left: 4px;
        padding-top: 3px;
        padding-bottom: 4px;
}

#odd {
        background-color: #eaeaea;
}

#even {
        background-color: #f0f0f0;
}

a:link {
        text-decoration: none;
        color: inherit;  
}
